<% 
	#finds all the properties for the sonar.score.projectTrophy property
	properties = Property.find(:all, :conditions => {:prop_key => "sonar.score.projectTrophy"})
	
	#array that holds all projects
	projects = Project.find(:all, :conditions =>  {:scope => 'PRJ'})
		
	#retrieves all the properties for the sonar.score.trophiesEarned property
	qualifyingProjects = Project.find(:all, :conditions =>  {:scope => 'PRJ', :qualifier => 'TRK'})
		
	trophyProperty = nil
	projectObject = nil	
	project = nil		
	
	#current project's id: 
	projectId = @project.id
	
	#current project object
	currentProject=Project.find(projectId)
	
	#finds the points id:
	pointsMetricId = Metric.find(:all, :conditions => {:name => 'points'})[0].id
	
	#retrieves the projects last snapshot id
	projectsLastSnapshotId = Snapshot.find(:all, :conditions => {:project_id => @project.id, :islast => 1})[0].id
	
	#<% Property.set("sonar.score.projectTrophy", "", projectId )%>
	
		
	
%>
<!-- Loops through the properties of sonar.score.projectTrophy and checks if the projectId matches the resource id -->
<% for @Property in properties %>
<% if(@Property.resource_id == @project.id)%>
	<% projectTrophy = @Property %>
<% end %>
<% end %>


<% if projectTrophy != nil %>
	<div class="dashbox">
		<h1 style="font-family: Comic Sans MS; font-size: 1.5em; font-weight: bold">
		Trophies Earned </h1>
		<div id="trophy_value" style="visibility:hidden" >
		<%= projectTrophy.value -%>		
	</div>
	<div id="trophy"></div>
	<script type="text/javascript">
		var image = '<img src="/images/profiles/trophies/star-gold.jpg"/; height="50", width="40">'
		var value = document.getElementById("trophy_value").textContent;
		//replace the whitespace
		value = value.replace(/\s/g, "");
		var strings = [];
		while(value.length>0){
			//find the position of "," in the string
			var valNumber = value.indexOf(";");
			//if you find a comma, then extract the string from the beginning to the comma
			if(valNumber != -1){
				var first = value.substring(0, valNumber);
			    //add the value to the array
				strings.push(first);
				//remove the line from the original string
				var second = first.length;
				value = value.substring(++second, value.length);
			}
			else //if there is no comma put the the value into the array
			{
					strings.push(value);
					value = "";
			}
		}
					
		// for each value in the array, append the trophy image plus value to the div inside separate divs	
		for(var x = 0; x < strings.length; x++){
				var trophyPoint = document.getElementById("trophy").innerHTML;
				document.getElementById("trophy").innerHTML = trophyPoint + "<div style= 'float:left; margin:10px'><div align= 'center'>" + image + "</div>" +
				"<div>" + strings[x] + "</div></div>" ;
			}
	</script>
	</div>	
<% end %>


<% if projectTrophy == nil %>
	<div class="dashbox">
		<h1 style="font-family: Comic Sans MS; font-size: 1.0em; font-weight: bold"> There are no trophies yet! </h1>
	</div>
			
<% end %>		