
<div class="dashbox"><h1> Define your trophies here </h1></div><br> 
	
	<% form_for :trophy do|f| %></br>
	<%= f.label :trophy_name %></br>
	<%= f.text_field :trophy_name %></br>
	
	
	<% end %> 
	
	
