<%
  
   property_id = widget_properties['groupId']
   properties = Property.find(:all, :conditions => {:prop_key => "sonar.score.projectGroup"})
   projectGroup = nil
   
   
  
%>
<h1> This is the comparison widget</h1><br>
<p> Group Name:  <%= widget_properties['groupId'] -%></p><br>
<p> Resource ids: </p>

 
<% for @Property in properties %>
<% if (@Property.resource_id == @project.id)%>
<% projectGroup = @Property %>
<% end %>
<% end %>


<% for @Property in Property.find(:all, :conditions => {:prop_key => "sonar.score.projectGroup"}) %>
<% if (@Property.value == projectGroup.value )%>
<p><%= @Property.resource_id -%></p>
<% end %>
<% end %>



