<% 
	#finds all the properties that assign a Trophy to this Project
	properties = Property.find(:all, :conditions => ['prop_key LIKE ? OR prop_key LIKE ? ','sonar.score.Trophy=%' ,'sonar.score.TitleCup=%'], :order => 'text_value DESC', :limit => 7)
	
%>
<% if properties != nil %>
	<div class="dashbox" style="padding:0px;margin:0px">
		
		
		<!-- Loops through the properties and checks if the property is a Trophy -->
		<!-- and also checks if the resourceId matches the projectId. -->
		<% for @Property in properties %>
			<% if(@Property.resource_id == @project.id) %>
				<% award = @Property.prop_key %>
				<% awardType = (award.partition("sonar\.score\.").last).partition("=").first %>
				<% awardColor = "Silver" %>
				<% awardFolder = "trophies" %>
				<% if awardType == "TitleCup" %>
					<% awardColor = "Gold" %>
					<% awardFolder = "titlecups" %>
				<% end %>
				<span class="award" style="padding:0px;margin:0px">
					<span style="float:left; margin:5px; padding:0px">
						<span align="center">
								<img src="/images/profiles/awards/<%= awardFolder %>/<%= awardType %><%= awardColor %>.png"; height="60" class = 'nameClass' style="padding:0px;margin:0px" title = '<%= award[award.index('=') + 1, award.length]%>'/>
						</span>
					</span>
				</span>
			<% end %>
		<% end %>
	</div>
<% end %>

<% if award == nil %>
	<div class="dashbox">
		<h1 style="font-family: Comic Sans MS; font-size: 1.0em; font-weight: bold"> No Awards have been earned. </h1>
	</div>
			
<% end %>


<script type="text/javascript">
window.onload=formatName();

<!--Formats the trophy name-->
function formatName(){
	//get all the image elements
	var names = document.getElementsByClassName("nameClass");
		
	for (var i = 0; i < names.length; i ++){
		var name = names[i].title;
		var formattedNameArray = name.split(/(?=[A-Z])/);
		var formattedName = formattedNameArray.toString();
		var goodName = formattedName.replace(/,/g,' ');		
		names[i].textContent = goodName;
		names[i].title = goodName;
			
	}		

}

</script>			