<%
points=measure('points')
 if ( points )
%>

<table class="width100" border="0">
<tr>
<td valign="top" width="25%">
<div class="dashbox">    
     <p>
	<span class="big">
		<img src="/images/profiles/projects/<%= @project.id -%>.png" onerror="this.src='/images/profiles/projects/default.png'" max-width="200" height="100"/>
	    	
	</span>
     </p>
      <form action="/SonarScore/src/main/resources/score/score_widget.html.erb" method="post">
		<p>
			Choose your logo:<br>
			<input type="file" name="uploaded_image" size="15">
		</p>
		<div>
	  <input type="submit" value="Upload">
	  </div>
	</form>
     </div>
 </td> 
 <td valign="top" nowrap="">
 <table>
 <tr><td>
	<h2>Points - <%= @project.long_name -%></h2>
</td>
 </tr>
 <tr>
 <td>
  <div><p style="a.color:#994411; font-family:Comic Sans MS; font-size:1.5em; font-weight:bold">
	<%= format_measure('points', :suffix => ' Points value', :url =>url_for_drilldown('points'))-%>
   
   </p>
  </div>
 </td>
 </tr>
 </table>
 </td>
 </tr>
 </table>
<% end %>
