<%
points=measure('points')
 if ( points )
%>
  <script type="text/javascript">
    var url = "";
    document.getElementById("project_image").src= readCookie("imageUrl");
	document.getElementById("submit").onclick = function () {
    url = document.getElementById("url").value;
    createCookie("imageUrl", url, 300);
    document.getElementById("project_image").src= readCookie("imageUrl");
    };

    function createCookie(name, value, days) {
	// name is the name of the cookie/vairable eg "token". Value is the token itself, days is the number of days until this token expires (automatically deletes itself). -1 for days deletes the coopkies if it exists
	if (days) {
		var date = new Date();
		date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
		var expires = "; expires=" + date.toGMTString();
	} else
		var expires = "";
	document.cookie = name + "=" + value + expires + "; path=/";
}

	function readCookie(name) {
	// name is which cookie you want to read - returns the value of specified cookie
	var nameEQ = name + "=";
	var ca = document.cookie.split(';');
	for ( var i = 0; i < ca.length; i++) {
		var c = ca[i];
		while (c.charAt(0) == ' ')
			c = c.substring(1, c.length);
		if (c.indexOf(nameEQ) == 0)
			return c.substring(nameEQ.length, c.length);
	}
	return null;
}
	
	function eraseCookie(name) {
	// deletes the cookie by calling createCookie and setting the number of days to -1)
	createCookie(name, "", -1);
}
    
  </script>
<table id="score_table_container" style="table-layout: fixed; width: 100%" border="0">
<tr>
<td valign="top" width="50%" style="word-wrap: normal">
<div class="dashbox"> 
     <p>
	<span class="big" id="score_image">
		<img id= "project_image" src="/images/profiles/projects/<%= @project.id -%>.png" onerror="this.src='/images/profiles/projects/default.png'" height="100" max-width="200"/>
	    	
	</span>
     </p>
    

	<input type= "text" name= "url" id= "url">
	<input type= "button" value= "Upload" id= "submit">

	
 </div>
 </td> 
 <td valign="top" nowrap="">
 <table id="score_table_1">
 <tr><th scope="col" style="word-wrap: break-word">
	<h1> <%= @project.long_name -%></h1>
</th>
 </tr>
<tr>
 <td>
  <div id= "score_points">
  <p style="a.color:#994411; font-family:Comic Sans MS; font-size:1.5em; font-weight:bold">
  <span id="score_points">
	<%= format_measure('points', :suffix => ' Points ', :url =>url_for_drilldown('points'))-%>
  </span> 
   </p>
  </div>
 </td>
 </tr>
 </table>
 </td>
 </tr>
 </table>
<% end %>
