<%
points=measure('points')
 if ( points )
%>
<table id="score_table_container" style="table-layout: fixed; width: 100%" border="0">
<tr>
<td valign="top" width="50%" style="word-wrap: normal">
<div class="dashbox"> 
     <p>
	<span class="big" id="score_image">
		<img id= "project_image" src="/images/profiles/projects/<%= @project.id -%>.png" onerror="this.src='/images/profiles/projects/default.png'" height="100" max-width="200"/>
	    	
	</span>
     </p>
    

	 <form action="score_widget.html.erb" method="post">

	<p>
		Choose your icon:<br>
		<input type="file" name="datasize" size="15">
	</p>
	<div>
		<input type="submit" value="Upload">
	</div>
	</form>

	
 </div>
 </td> 
 <td valign="top" nowrap="">
 <table id="score_table_1">
 <tr><th scope="col" style="word-wrap: break-word">
	<h1> <%= @project.long_name -%></h1>
</th>
 </tr>
<tr>
 <td>
  <div id= "score_points">
  <p style="a.color:#994411; font-family:Comic Sans MS; font-size:1.5em; font-weight:bold">
  <span id="score_points">
	<%= format_measure('points', :suffix => ' Points ', :url =>url_for_drilldown('points'))-%>
  </span> 
   </p>
  </div>
 </td>
 </tr>
 </table>
 </td>
 </tr>
 </table>
<% end %>
