<% 
	#finds all the properties that assign a TitleCup to this Project
	properties = Property.find(:all, :conditions => ['prop_key LIKE ?','sonar.score.TitleCup=%'])	
%>
<% if properties != nil %>
	<div class="dashbox">
		<h1 style="font-family: Comic Sans MS; font-size: 1.5em; font-weight: bold">
		TitleCups Currently Held: </h1>
		
		<!-- Loops through the properties and checks if the property is a TitleCup -->
		<!-- and also checks if the resourceId matches the projectId. -->
		<% for @Property in properties %>
			<% if(@Property.resource_id == @project.id) %>
				<% titleCup = @Property.prop_key %>
				<div class="cup">
					<div>
						<div style="float:left; margin:10px">
							<div align="center">
								<img src="/images/profiles/trophies/TrophyBronze.png"; height="50", width="40"/>
							</div>
							<div>
								<%= titleCup[titleCup.index('=') + 1, titleCup.length]%>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>




<% if titleCup == nil %>
	<div class="dashbox">
		<h1 style="font-family: Comic Sans MS; font-size: 1.0em; font-weight: bold"> No TitleCups are currently held. </h1>
	</div>
			
<% end %>		