<% 
	#finds all the properties that assign a TitleCup to this Project
	properties = Property.find(:all, :conditions => ['prop_key LIKE ?','sonar.score.TitleCup=%'])	
%>
<% if properties != nil %>
	<div class="dashbox" >
		<h1 style="font-family: Comic Sans MS; font-size: 1.5em; font-weight: bold">
		Title Cups Currently Held: </h1>
		
		<!-- Loops through the properties and checks if the property is a TitleCup -->
		<!-- and also checks if the resourceId matches the projectId. -->
		<% for @Property in properties %>
			<% if(@Property.resource_id == @project.id) %>
				<% titleCup = @Property.prop_key %>
				<div class="cup">
					<div>
						<div style="float:left; margin:10px">
							<div align="center">
								<img src="/images/profiles/awards/titlecups/TitleCupGold.png"; height="100"/>
							</div>
							<div id = "titleCupName" class = "nameClass">
								<%= titleCup[titleCup.index('=') + 1, titleCup.length]%>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>




<% if titleCup == nil %>
	<div class="dashbox">
		<h1 style="font-family: Comic Sans MS; font-size: 1.0em; font-weight: bold"> No Title Cups are currently held. </h1>
	</div>
			
<% end %>

<script type="text/javascript">
window.onload=formatName();

<!--Formats the trophy name-->
function formatName(){
	var names = document.getElementsByClassName("nameClass");
	for (var i = 0; i < names.length; i ++){
		var name = names[i];
		var formattedNameArray = name.textContent.split(/(?=[A-Z])/);
		var formattedName = formattedNameArray.toString();
		var goodName = formattedName.replace(/,/g,' ');
		names[i].textContent = goodName;
		
	}		

}

</script>			