<% 
	#finds all the properties that assign a Trophy to this Project
	properties = Property.find(:all, :conditions => ['prop_key LIKE ?','sonar.score.Trophy=%'])	
%>
<% if properties != nil %>
	<div class="dashbox">
		<h1 style="font-family: Comic Sans MS; font-size: 1.5em; font-weight: bold">
		Trophies Earned: </h1>
		
		<!-- Loops through the properties and checks if the property is a Trophy -->
		<!-- and also checks if the resourceId matches the projectId. -->
		<% for @Property in properties %>
			<% if(@Property.resource_id == @project.id) %>
				<% trophy = @Property.prop_key %>
				<div class="cup">
					<div>
						<div style="float:left; margin:10px">
							<div align="center">
								<img src="/images/profiles/trophies/star-gold.jpg"; height="50", width="40"/>
							</div>
							<div>
								<%= trophy[trophy.index('=') + 1, trophy.length]%>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>




<% if trophy == nil %>
	<div class="dashbox">
		<h1 style="font-family: Comic Sans MS; font-size: 1.0em; font-weight: bold"> No Trophies have been earned. </h1>
	</div>
			
<% end %>		