<% 
	#finds all the properties that assign a Trophy to this Project
	properties = Property.find(:all, :conditions => ['prop_key LIKE ?','sonar.score.Trophy=%'])	
%>
<% if properties != nil %>
	<div class="dashbox">
		<h1 style="font-family: Comic Sans MS; font-size: 1.5em; font-weight: bold">
		Trophies Earned: </h1>
		
		<!-- Loops through the properties and checks if the property is a Trophy -->
		<!-- and also checks if the resourceId matches the projectId. -->
		<% for @Property in properties %>
			<% if(@Property.resource_id == @project.id) %>
				<% trophy = @Property.prop_key %>
				<span class="cup">
					<span>
						<span style="float:left; margin:10px">
							<div align="center">
								<img src="/images/profiles/awards/trophies/TrophySilver.png"; height="100"/>
							</div>
							<div id = "trophyName" class = "nameClass" style = "text-align:center">
								<%= trophy[trophy.index('=') + 1, trophy.length]%>
							</div>
							
						</span>
					</span>
				</span>
			<% end %>
		<% end %>
	</div>
<% end %>

<% if trophy == nil %>
	<div class="dashbox">
		<h1 style="font-family: Comic Sans MS; font-size: 1.0em; font-weight: bold"> No Trophies have been earned. </h1>
	</div>
			
<% end %>


<script type="text/javascript">
window.onload=formatName();

<!--Formats the trophy name-->
function formatName(){
	var names = document.getElementsByClassName("nameClass");
	for (var i = 0; i < names.length; i ++){
		var name = names[i];
		var formattedNameArray = name.textContent.split(/(?=[A-Z])/);
		var formattedName = formattedNameArray.toString();
		var goodName = formattedName.replace(/,/g,' ');
		names[i].textContent = goodName;
		
	}		

}

</script>			