<!--USER LIST PAGE-->
<%= renderLink "ScoreStyle.css" %>
<div id = "score-page-content" class = "hidden">
	<%=renderScoreNavBar %>
	</br></br>
	<% selectedUsers = User.find(:all)%>
	<%= renderList selectedUsers %>
</div>
<%=unhidePage%>