<%
properties = Property.find(:all, :conditions => ['prop_key LIKE ?','sonar.score.Trophy:%'])
%>
<h1> List of Trophies:</h1></br>
<% for @Property in properties %>
 <% trophy = @Property.prop_key %> 
   <div>
   <%=trophy[trophy.index(':') + 1, trophy.length]%>

</div> 
<% end %>

</br</br>

