<%
properties = Property.find(:all, :conditions => ['prop_key LIKE ?','sonar.score.Trophy:%'])
%>
<h1> List of Trophies:</h1></br>
<% for @Property in properties %>
 <% trophy = @Property.prop_key %> 
   <div id= "trophyName" class = "nameClass">
   <%=trophy[trophy.index(':') + 1, trophy.length]%>

</div> 
<% end %>

</br</br>
</br></br>
<%= link_to "Back", '/trophies/index' ,{:style=>'color: blue'} %>
<script type="text/javascript">
window.onload=formatName();

<!--Formats the trophy name-->
function formatName(){
	var names = document.getElementsByClassName("nameClass");
	for (var i = 0; i < names.length; i ++){
		var name = names[i];
		var formattedNameArray = name.textContent.split(/(?=[A-Z])/);
		var formattedName = formattedNameArray.toString();
		var goodName = formattedName.replace(/,/g,' ');
		names[i].textContent = goodName;
		
	}		

}

</script>	
