<!--TEAM LIST PAGE-->
<%= renderLink "ScoreStyle.css" %>
<%=renderScoreNavBar %>
<div id = "score-page-content" class = "hidden">
	</br></br>
	<% teams = Group.find(:all, :conditions => ['description LIKE ?','[Team]%'])%>
	<%= renderList teams %>
</div>
<%=unhidePage%>
